.feed-card {
  width: 35.4rem !important;
  background-color: var(--primary) !important;
  border: 0.2rem solid #111  !important;
  padding: 0 !important;
  font-weight: 400 !important;
    transition: height 0.3s ease;
  overflow: hidden ;
}

.feed-card.no-images {
  min-height: 300px; /* Reduced height for text-only posts */
}

.feed-card-text {
  display: flex !important;
  align-items: center !important;
  font-size: 1rem !important;
}

.avatar {
  border-radius: 50% !important;
  padding: 0 !important;
  margin: 0.8rem !important;
}

.username-container {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: 100% !important;
}

.feed-card-image {
    object-fit: cover !important; 
    background-size: cover !important;
    border-radius: 1rem !important;
    height: 27.25rem !important;
    /* width: 31.25rem; */
}

.feed-card-action {
    width: 100% !important;
    color: var(--twitter-text) !important;
    display: flex !important;
    position: relative !important;
    top: .8rem !important;
    gap: 3rem !important;
}

.feed-card-icons {
    display: flex !important;
    justify-content: space-between !important;
    width: 100% !important;
}

.icon-button {
    display: flex !important;
  font-size: 12px !important;
  transition: color 0.3s ease !important;
}

.repeat-icon :hover {
   color: #0099ff !important;
}

.favorite-icon:hover {
    color: #ed64a6 !important;
}

.bookmark-icon:hover {
    color: #48bb78 !important;
}
