.comment {
  width: 35.4rem !important;
  background-color: var(--primary) !important;
  border: 0.2rem solid #111 !important;
  padding: 0 !important;
  font-weight: 400 !important ;
}

.comment-text {
  display: flex !important;
  align-items: center !important;
  font-size: "1rem" !important;
}

.avatar {
  border-radius: 50% !important;
  padding: 0 !important;
  margin: 0.8rem !important;
}

.username-container {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: 100% !important;
}

.comment-action {
  width: "100%" !important;
  color: var(--secondary) !important;
  display: "flex" !important;
  position: relative !important;
  top: 0.8rem !important;
  gap: 3rem !important;
}

.comment-icons {
  display: flex !important;
  justify-content: space-between !important;
  width: 100% !important;
}

.icon-button {
  display: flex !important;
  font-size: 12px !important;
  transition: color 0.3s ease !important;
}

.repeat-icon :hover {
  color: #0099ff !important;
}

.favorite-icon:hover {
  color: #ed64a6 !important;
}

.chatbubble-icon:hover {
  color: #4299e1 !important;
}

.add-comment-content {
  border: none !important;
  font-size: 1rem !important;
  background-color: #111 !important;
  color: #fff !important;
  resize: none !important ;
  outline: none !important ;
  width: 25rem !important ;
  height: 8rem !important ;
  overflow: hidden !important ;
  border-radius: 1rem !important ;
  text-align: center !important ;
} 
 
.btn-container { 
  display: flex !important ;
  justify-content: flex-end !important ;
} 
 
.edit-comment { 
  gap: 1.5rem !important ;
  width: 32.4rem !important ;
}
